@charset "UTF-8";

html {
}

body {
  //word-break: break-word;
  color: $기본글꼴색상;
  font-family: $기본글꼴;
  font-size: $기본글꼴크기;
  font-weight: $폰트regular;
}

a {
  color: $기본글꼴색상;
  text-decoration: none;

  &:hover {
    color: #0e0e0e;
  }

}

hr.divide {
  height: 2px;
  background: #60A0DF;
  margin: 30px 0;
  border: 0;
}