{% extends "layout/default.njk" %}

{% block body %}
cc
	<p>b Anything you put in the <code>copy</code> directory gets copied as-is into the <code>dist</code> directory.</p>

	<p><button id="click-me">aaa 히히 인제된다. Click Me</button></p>

{% endblock %}