{% set authorName = "이희원" %}
{% set authorEmail = "richready2011@gmail.com" %}
{% set pageTitle = "서브페이지" %}

{% extends "layout/default.njk" %}

{% block body %}

	<p><>b Anything you put in the <code>copy</code> directory gets copied as-is into the <code>dist</code> directory.</p>
	<p><button id="click-me">Click Me</button></p>

{% endblock %}

{% block script %}
<script type="text/javascript" src="/resource/js/page/sub/subpage.js"></script>
{% endblock %}