{% import "import/ibsheetVar.njk" as ibsheet %}
{% extends "layout/default.njk" %}

{% set 제작자 = "이희원" %}
{% set 이메일 = "userEmail@domain.com" %}
{% set 페이지아이디 = "ibsheet" %}
{% set 페이지타이틀 = "ibsheet" %}

{% block pageScript %}
<script type="text/javascript" src="/resource/js/styleguide-component.js"></script>
{% endblock %}

{% block body %}

    {{ ibsheet.resource() }}
    <div class="POSCMMIbsheet" id="POSCMMIbsheet1"></div>

{% endblock %}
