{% import "import/ibsheetVar.njk" as ibsheet %}
{% extends "layout/default.njk" %}

{% set 제작자 = "이희원" %}
{% set 이메일 = "userEmail@domain.com" %}
{% set 페이지아이디 = "ibsheet" %}
{% set 페이지타이틀 = "ibsheet" %}

{% block body %}

    {{ ibsheet.resource() }}
    <div class="POSCMMIbsheet" id="POSCMMIbsheet1"></div>

{% endblock %}

{% block pageScript %}
<script type="text/javascript" src="/resource/js/styleguide-component.js"></script>
<script type="text/javascript">
$(function() {

  // IBSheet8 객체 생성, 비동기
  IBSheet.create( {
    id: "sheet",        // 시트 객체 ID
    el: "POSCMMIbsheet1",     // 시트를 생성할 DIV객체 ID
    options: {
      // 공통 속성 설정
      // Def: {
      //
      // },

      // 전역 기능 설정
      Cfg: {
        // UsePivot: true, // 피벗 사용 여부
        // AcceptPivotCols: "Name, Name", // 피벗 사용 시 열 지정
        // AcceptPivotData: "Name, Name", // 피벗 사용 시 데이터열 지정


        SearchMode: 0, // FastLoad
        HeaderMerge: 3, //헤더 영역 머지 모드 선택
      },

      // 각 열(Column)에 대한 정의
      // Required: Type, Name
      Cols: [
        { Header: "ID", Name: "userid", Type: "Text", Align: "center", CanEdit: 0 },
        { Header: "사용자 이름", Name: "userNm", Type: "Text", Align: "center" },
        { Header: "성별", Name: "gender", Type: "Enum", Enum: "|남|녀", EnumKeys: "|M|F" },
        { Header: "입사일", Name: "edate", Extend: IB_Preset.Ymd },
        { Header: "나이", Name: "age", Type: "Int", Format: "#,### 세" }
      ],

      // 이벤트
      Events: {

        onRenderFirstFinish: function ( evtParam ) {

          // 컬럼데이터
          evtParam.sheet.loadSearchData(
            [
              { userid: "2170022", userNm: "홍길동", gender: "M", edate: "20010302", age: 48 },
              { userid: "981065", userNm: "허심청", gender: "F", edate: "20010302", age: 23 },
            ]
          );

        }

      }

    }
  } );

  /*IBSheet.create 이후 조회를 하면 데이터 바인딩을 보장하지 못한다.
   IBSheet.create가 비동기로 동작하기 때문에 onRenderFirstFinish 이벤트에서 조회 하거나 create
  함수에 sync:1을 설정하여 동기로 동작하게 해야 한다.
  */
})
</script>
{% endblock %}
