{% extends "layout/default.njk" %}

{% set 제작자 = "이희원" %}
{% set 이메일 = "userEmail@domain.com" %}
{% set 페이지아이디 = "CompTable" %}
{% set 페이지타이틀 = "CompTable" %}

{% block pageScript %}
<script type="text/javascript" src="/resource/js/component/{{ 페이지아이디 }}.js"></script>
{% endblock %}

{% block body %}

<div class="compTable">

   <table class="compTable__table">
    <thead>
    <tr>
        <th scope="col">Column 1</th>
        <th scope="col">Column 2</th>
        <th scope="col">Column 3</th>
        <th scope="col">Column 4</th>
        <th scope="col">Column 5</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>Cont1</td>
        <td>Cont2</td>
        <td>Cont3</td>
        <td>Cont4</td>
        <td>Cont5</td>
    </tr>

    </tbody>
    </table>

</div>
<script type="text/javascript">
document.addEventListener('DOMContentLoaded', () => {
  $(".compTable").on('click', function (event) {
    console.log('click')
  })
})
</script>

{% endblock %}
