{% set authorName = "이희원" %}
{% set authorEmail = "richready2011@gmail.com" %}
{% set pageTitle = "서브페이지" %}

{% extends "layout/default.njk" %}

{% block script %}
    <script type="text/javascript" src="/resource/js/page/sub/subpage.js"></script>
{% endblock %}

{% block body %}

    Index

{% endblock %}
