<!--
    @퍼블리셔: {{ authorName }} ({{ authorEmail }}) {{ userEnv }}
    @버전: v{{ pkgVersion }}
-->
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

{#    <meta property="og:title" content="" />#}
{#    <meta property="og:type" content="" />#}
{#    <meta property="og:url" content="" />#}
{#    <meta property="og:image" content="" />#}
{#    <meta property="og:image:alt" content="" />#}

{#    <link rel="icon" href="/favicon.ico" sizes="any" />#}
{#    <link rel="icon" href="/icon.svg" type="image/svg+xml" />#}
{#    <link rel="apple-touch-icon" href="icon.png" />#}

{#    <link rel="manifest" href="site.webmanifest" />#}
{#    <meta name="theme-color" content="#fafafa" />    #}

    {% block pageTitle %}
        <title>pageTitle</title>
    {% endblock %}

    <link rel="stylesheet" type="text/css" href="/resource/css/app.min.css?v={{ pkgVersion }}" />

    <!--[if lte IE 8]>
    <script type="text/javascript" src="js/es5-shim.min.js"></script>
    <![endif]-->

    <script type="text/javascript" src="/resource/js/polyfill.js"></script>

</head>
<body>
<div class="wrapper" id="app">
    <p>LAYOUT 1</p>
    {% block body %}
        body block
    {% endblock %}


    {% block script %}
    {% endblock %}

</div>
</body>
</html>