<!--
    @퍼블리셔: {{ authorName }} ({{ authorEmail }}) {{ userEnv }}
    @버전: v{{ pkgVersion }}
-->
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    {% block pageTitle %}
    <title>pageTitle</title>
    {% endblock %}
    <link rel="stylesheet" type="text/css" href="/resource/css/app.min.css?v={{ pkgVersion }}" />
    <!--[if lte IE 8]>
    <!-- <script type="text/javascript" src="js/es5-shim.min.js"></script> -->
    <![endif]-->
    <script type="text/javascript" src="/resource/js/ui-vendor.js"></script>
    <script type="text/javascript" src="/resource/js/ui-plugin.js"></script>
</head>
<body>
<div class="wrapper" id="app">
    <p>LAYOUT 1</p>
    {% block body %}
        body block
    {% endblock %}
    {% block script %}
    {% endblock %}
</div>
</body>
</html>